Company Research Agent - Sub 1.json
{
  "name": "Company Research Agent - Sub 1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6337b1c2-3579-4fc8-b0be-f7d7251fdd19",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Query }}",
        "options": {
          "systemMessage": "=## Role\nYou research public information about a company.\n\n## You Can Use\n- WebsiteScraper → Find and summarise the company’s main website.\n- ReviewScraper → Find and summarise reviews on Trustpilot, G2, or Capterra.\n\n## Behavior\n1. Begin with the company website to confirm core offerings and positioning.\n2. Then gather and summarise customer feedback or sentiment from public reviews.\n3. Combine both sources into a brief factual summary. \n   Include: company overview, notable strengths, recurring complaints, and overall sentiment.\n\n## Output\nReturn a single, cohesive paragraph of findings followed by 3-5 key bullet points with sources or site names.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        288,
        0
      ],
      "id": "fa6246b0-556c-490a-b8e6-429089603069",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "Website",
        "description": "Finds and summarises the main company website to capture offerings, tone, and positioning.",
        "workflowId": {
          "__rl": true,
          "value": "HcjGOqntKutSSzCZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/HcjGOqntKutSSzCZ",
          "cachedResultName": "Website Scraper - Sub 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Company name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Company_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "Company name"
          ],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        336,
        224
      ],
      "id": "38c4d6b6-3765-407a-9e3d-16d024b28522",
      "name": "Website scraper"
    },
    {
      "parameters": {
        "name": "Reviews",
        "description": "Finds reviews on Trustpilot, G2, or similar and summarises sentiment patterns.",
        "workflowId": {
          "__rl": true,
          "value": "JYzIJHGPM2GYGRl5",
          "mode": "list",
          "cachedResultUrl": "/workflow/JYzIJHGPM2GYGRl5",
          "cachedResultName": "Review Scraper - Sub 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Company name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Company_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "Company name"
          ],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        512,
        224
      ],
      "id": "7740bdf2-6eab-4519-baa3-b1bd519ae03e",
      "name": "Review scraper"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        224
      ],
      "id": "6dfd2dca-d3ac-49fd-a049-e99f37e136ed",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YFdvIE4XQvDULcbp",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website scraper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Review scraper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "daa27a2b-fc49-43b1-b2ff-154bdbe50cce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dfb1f8920dd5fb7cf2b014986c627557d4daefd8523a445a71aedaf9be3b593"
  },
  "nodeGroups": [],
  "id": "78or2kJK8hFh7DH3",
  "tags": [
    {
      "name": "Research agent",
      "id": "wMesu7UltJnUXQna",
      "updatedAt": "2026-06-19T17:27:59.897Z",
      "createdAt": "2026-06-19T17:27:59.897Z"
    }
  ]
}